<div style='background-color: orange'>
<a id='TableOfContents'></a>
    <b><u><i><h1 style='text-align: center'>
        Table of Contents
    </h1></i></u></b>
<li><a href='#imports'>Imports</a></li>
<li><a href='#q1'>Question 1</a></li>
<li><a href='#q2'>Question 2</a></li>
<li><a href='#q3'>Question 3</a></li>
<li><a href='#q4'>Question 4</a></li>
<li><a href='#q5'>Question 5</a></li>
<li><a href='#q6'>Question 6</a></li>
<li><a href='#q7'>Question 7</a></li>

<div style='background-color: orange'>
<a id='imports'></a>
    <b><u><i><h1 style='text-align: center'>
        Imports
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [1]:
# Vectorization and dataframing
import numpy as np
import pandas as pd

# HTTP requests
import requests

# .py files
import acquire

<div style='background-color: orange'>
<a id='q1'></a>
    <b><u><i><h1 style='text-align: center'>
        Question 1
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 1. Using the code from the lesson as a guide and the REST API from https://swapi.dev/ as we did in the lesson, create a dataframe named people that has all of the data for people.

In [2]:
# Obtain the 3 API dataframes from the url provided
people = requests.get('https://swapi.dev/api/people/')
planets = requests.get('https://swapi.dev/api/planets/')
starships = requests.get('https://swapi.dev/api/starships/')

people, planets, starships

(<Response [200]>, <Response [200]>, <Response [200]>)

<div style='background-color: orange'>
<a id='q2'></a>
    <b><u><i><h1 style='text-align: center'>
        Question 2
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 2. Do the same thing, but for planets.

In [3]:
planets

<div style='background-color: orange'>
<a id='q3'></a>
    <b><u><i><h1 style='text-align: center'>
        Question 3
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 3. Extract the data for starships.

In [4]:
starships

<div style='background-color: orange'>
<a id='q4'></a>
    <b><u><i><h1 style='text-align: center'>
        Question 4
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [5]:
data = people.json()
data.keys()

dict_keys(['count', 'next', 'previous', 'results'])

In [6]:
# Get .csvs of 3 dataframes
people_df = pd.DataFrame(data['results'])
people_df.to_csv('people.csv')

data_planets = planets.json()
planets_df = pd.DataFrame(data_planets['results'])
planets_df.to_csv('planets.csv')

data_starships = starships.json()
starships_df = pd.DataFrame(data_starships['results'])
starships_df.to_csv('starships.csv')

In [7]:
pd.read_csv('starships.csv', index_col=0)

,name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,hyperdrive_rating,MGLT,starship_class,pilots,films,created,edited,url
0,CR90 corvette,CR90 corvette,Corellian Engineering Corporation,3500000,150,950,30-165,600,3000000,1 year,2.0,60,corvette,[],"['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-10T14:20:33.369000Z,2014-12-20T21:23:49.867000Z,https://swapi.dev/api/starships/2/
1,Star Destroyer,Imperial I-class Star Destroyer,Kuat Drive Yards,150000000,"1,600",975,"47,060",NaN,36000000,2 years,2.0,60,Star Destroyer,[],"['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-10T15:08:19.848000Z,2014-12-20T21:23:49.870000Z,https://swapi.dev/api/starships/3/
2,Sentinel-class landing craft,Sentinel-class landing craft,"Sienar Fleet Systems, Cyngus Spaceworks",240000,38,1000,5,75,180000,1 month,1.0,70,landing craft,[],['https://swapi.dev/api/films/1/'],2014-12-10T15:48:00.586000Z,2014-12-20T21:23:49.873000Z,https://swapi.dev/api/starships/5/
3,Death Star,DS-1 Orbital Battle Station,"Imperial Department of Military Research, Sien...",1000000000000,120000,NaN,"342,953","843,342",1000000000000,3 years,4.0,10,Deep Space Mobile Battlestation,[],['https://swapi.dev/api/films/1/'],2014-12-10T16:36:50.509000Z,2014-12-20T21:26:24.783000Z,https://swapi.dev/api/starships/9/
4,Millennium Falcon,YT-1300 light freighter,Corellian Engineering Corporation,100000,34.37,1050,4,6,100000,2 months,0.5,75,Light freighter,"['https://swapi.dev/api/people/13/', 'https://...","['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-10T16:59:45.094000Z,2014-12-20T21:23:49.880000Z,https://swapi.dev/api/starships/10/
5,Y-wing,BTL Y-wing,Koensayr Manufacturing,134999,14,1000km,2,0,110,1 week,1.0,80,assault starfighter,[],"['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-12T11:00:39.817000Z,2014-12-20T21:23:49.883000Z,https://swapi.dev/api/starships/11/
6,X-wing,T-65 X-wing,Incom Corporation,149999,12.5,1050,1,0,110,1 week,1.0,100,Starfighter,"['https://swapi.dev/api/people/1/', 'https://s...","['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-12T11:19:05.340000Z,2014-12-20T21:23:49.886000Z,https://swapi.dev/api/starships/12/
7,TIE Advanced x1,Twin Ion Engine Advanced x1,Sienar Fleet Systems,unknown,9.2,1200,1,0,150,5 days,1.0,105,Starfighter,['https://swapi.dev/api/people/4/'],['https://swapi.dev/api/films/1/'],2014-12-12T11:21:32.991000Z,2014-12-20T21:23:49.889000Z,https://swapi.dev/api/starships/13/
8,Executor,Executor-class star dreadnought,"Kuat Drive Yards, Fondor Shipyards",1143350000,19000,NaN,"279,144",38000,250000000,6 years,2.0,40,Star dreadnought,[],"['https://swapi.dev/api/films/2/', 'https://sw...",2014-12-15T12:31:42.547000Z,2014-12-20T21:23:49.893000Z,https://swapi.dev/api/starships/15/
9,Rebel transport,GR-75 medium transport,"Gallofree Yards, Inc.",unknown,90,650,6,90,19000000,6 months,4.0,20,Medium transport,[],"['https://swapi.dev/api/films/2/', 'https://sw...",2014-12-15T12:34:52.264000Z,2014-12-20T21:23:49.895000Z,https://swapi.dev/api/starships/17/

<div style='background-color: orange'>
<a id='q5'></a>
    <b><u><i><h1 style='text-align: center'>
        Question 5
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 5. Combine the data from your three separate dataframes into one large dataframe.

In [8]:
bigboi = pd.concat([people_df, starships_df, planets_df], axis=1)

In [9]:
bigboi.sample()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,...,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",...,arid,1 standard,desert,1,200000,"[https://swapi.dev/api/people/1/, https://swap...","[https://swapi.dev/api/films/1/, https://swapi...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/

<div style='background-color: orange'>
<a id='q6'></a>
    <b><u><i><h1 style='text-align: center'>
        Question 6
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [10]:
germany = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
germany.to_csv('germany.csv')

<div style='background-color: orange'>
<a id='q7'></a>
    <b><u><i><h1 style='text-align: center'>
        Question 7
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

### 7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [11]:
starwars = acquire.acquire_swapi()
germany = acquire.acquire_germany()

In [12]:
starwars.sample()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,...,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
6,Beru Whitesun lars,165,75,brown,light,blue,47BBY,female,https://swapi.dev/api/planets/1/,"[https://swapi.dev/api/films/1/, https://swapi...",...,temperate,0.85 standard,"forests, mountains, lakes",8,30000000,[https://swapi.dev/api/people/30/],[https://swapi.dev/api/films/3/],2014-12-10T11:50:29.349000Z,2014-12-20T20:58:18.429000Z,https://swapi.dev/api/planets/7/

In [13]:
germany.sample()

            Date  Consumption     Wind    Solar  Wind+Solar
3511  2015-08-13     1394.573  210.782  182.845     393.627